asgiref==3.11.0
certifi==2026.4.22
charset-normalizer==3.4.7
coverage==7.13.1
Django==5.2.9
django-cors-headers==4.9.0
django-redis==5.2.0
gunicorn==22.0.0
idna==3.13
packaging==25.0
psycopg==3.3.2
psycopg-binary==3.3.2
python-dotenv==1.2.1
requests==2.33.1
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.6.3
